.[oa]
*~
.py[co]
.doit.db
.idea/

build/
dist/
*.egg-info/

docs/_build

*nose*
*node_modules*
# Ignore all test-related files (see setup.py -> setup(tests_require=[]))
*coverage*
# but keep the .coveragerc (for TravisCI/Coveralls services)
!.coveragerc

# Ignore vagrant box meta files
.vagrant/

# Compass/Sass cache
.sass-cache/
